.root {
    -fx-background-image: url("background_image.png");
}

.nextBrick {
    -fx-border-width: 3px;
    -fx-border-color: #61a2b1;
    -fx-border-radius: 0px;
}

.gameBoard {
    -fx-border-color: linear-gradient(#2A5058, #61a2b1);
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.nextBrickLabel {
    -fx-font-family: "Let's go Digital";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 25px;
    -fx-text-fill: yellow;
}

.titleClass {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 64;
    -fx-text-fill: yellow;
}

.creditClass {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 12;
    -fx-text-fill: #bbbbbb;
}

.ipad-dark-grey {
    -fx-border-color: #777777;
    -fx-border-width: 2px;
    -fx-border-radius: 9;
    -fx-background-color:
            linear-gradient(rgba(104,104,104,0.3) 0%, rgba(35,39,35,0.3) 25%, rgba(55,56,55,0.3) 75%, rgba(117,117,117,0.3) 100%),
            linear-gradient(rgba(2,11,2,0.3), rgba(58,58,58,0.3)),
            linear-gradient(rgba(157,158,157,0.3) 0%, rgba(107,106,107,0.3) 20%, rgba(52,53,52,0.3) 80%, rgba(36,36,36,0.3) 100%),
            linear-gradient(rgba(138,138,138,0.3) 0%, rgba(107,106,107,0.3) 20%, rgba(52,53,52,0.3) 80%, rgba(38,38,38,0.3) 100%),
            linear-gradient(rgba(119,119,119,0.3) 0%, rgba(96,96,96,0.3) 50%, rgba(80,82,80,0.3) 51%, rgba(42,43,42,0.3) 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 8;
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0), 1, 0.0, 0, 1);
}

.ipad-dark-grey:hover {
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 9;

    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;

    -fx-text-fill: rgb(97, 162, 177);
}

.helpInfo {
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 20px;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.gameOverStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48;
    -fx-text-fill: red;
    -fx-effect: dropshadow(gaussian, rgba(255,0,0,0.9), 2, 0.7, 0, 0),    /* neon glow */
                dropshadow(gaussian, rgba(255,0,0,0.4), 4, 0.9, 0, 0);   /* reference - https://stackoverflow.com/questions/37886662/java-fx-glow-effect-in-css */
}

.newHighScoreStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 40;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 2, 0.7, 0, 0),
                dropshadow(gaussian, rgb(157, 158, 157), 4, 0.9, 0, 0);
}

.scoreTitleClass{
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 24;
    -fx-text-fill: yellow;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.scoreValueClass{
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 28;
    -fx-text-fill: #3aa6ff;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
